{% extends "plantilla.html" %}
{% load static %}
{% load  i18n %}
{% block content %}
        <div class="container">
                <div class="jumbotron">
                        <h1>Bienvenido a : {{ contenido.nombre_sitio}}.!</h1>
                </div>
        </div>

        <main class="container">
        <section id="todos_los_productos" class ="row" >
            <h2>Seleccionar producto</h2>
            <hr/> 
        </section>

      </main>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

{% endblock %}

